.jh-banner {
  color: rgb(50, 69, 50);
  text-align: center;
  padding: 12px;
  border-bottom: solid 3px rgb(50, 69, 50);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jh-logo {
  width: 45px;
  height: 45px;
  padding-left: 32px;
}

.jh-title {
  display: flex;
  align-items: center;
}

.recommendation {
  font-style: italic;
  padding-left: 32px;
  padding-bottom: 10px;
}
