.jh-plant-item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.jh-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
  position: relative;
}

.jh-plant-item-price {
	position: absolute;
	border-radius: 20px 20px 0 0;
	background-color: white;
	color: #31b472;
  width: 50px;
  height: 30px;
  text-align: center;
	padding-top: 15px;
  padding-bottom: 0;
	left: 10px;
	bottom: 128px;
	font-weight: 700;
}

.add-item-button {
  background-color: #31b472;
  padding: 12px 20px;
  border: none;
  border-radius: 20px 20px 0 0;
  color: white;
  font-size: larger;
  cursor: pointer;
  transform: translate(188px, -185px);
}

.care-values {
  display: flex;
  flex-direction: column;
  transform: translate(10px, -290px);
}

.jh-plant-item-name {
  font-weight: 700;
}
